MultiplayerCardGame/WebGameClient/Connected Services/UserManagementReference/Server.Model.Model.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Server.Model.Model" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Server.Model.Model" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="CGUser">
    <xs:sequence>
      <xs:element minOccurs="0" name="Email" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Id" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="UserName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="userStatus" type="tns:CGUser.UserStatus" />
      <xs:element minOccurs="0" name="userType" type="tns:CGUser.UserType" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="CGUser" nillable="true" type="tns:CGUser" />
  <xs:simpleType name="CGUser.UserStatus">
    <xs:restriction base="xs:string">
      <xs:enumeration value="UNATTACKABLE" />
      <xs:enumeration value="ATTACKABLE" />
      <xs:enumeration value="STUNNED" />
      <xs:enumeration value="INGAME" />
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="CGUser.UserStatus" nillable="true" type="tns:CGUser.UserStatus" />
  <xs:simpleType name="CGUser.UserType">
    <xs:restriction base="xs:string">
      <xs:enumeration value="PLAYER" />
      <xs:enumeration value="ADMIN" />
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="CGUser.UserType" nillable="true" type="tns:CGUser.UserType" />
</xs:schema>