MultiplayerCardGame/WebGameClient/Connected Services/GameServiceReference/service.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import namespace="http://schemas.datacontract.org/2004/07/Server.DataContracts.DataContracts" />
  <xs:element name="StartGame">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/Server.DataContracts.DataContracts" minOccurs="0" name="gameTable" nillable="true" type="q1:GameTable" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="StartGameResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/Server.DataContracts.DataContracts" minOccurs="0" name="StartGameResult" nillable="true" type="q2:Game" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CreateGame">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/Server.DataContracts.DataContracts" minOccurs="0" name="game" nillable="true" type="q3:Game" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CreateGameResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetByTableId">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="tableId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetByTableIdResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/Server.DataContracts.DataContracts" minOccurs="0" name="GetByTableIdResult" nillable="true" type="q4:Game" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>