MultiplayerCardGame/WebGameClient/Connected Services/UserManagementServiceReference/service.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="UserManagement" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import namespace="http://tempuri.org/" />
      <xsd:import namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import namespace="http://schemas.datacontract.org/2004/07/Server.DataContracts.DataContracts" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IUserManagementService_CreateUser_InputMessage">
    <wsdl:part name="parameters" element="tns:CreateUser" />
  </wsdl:message>
  <wsdl:message name="IUserManagementService_CreateUser_OutputMessage">
    <wsdl:part name="parameters" element="tns:CreateUserResponse" />
  </wsdl:message>
  <wsdl:message name="IUserManagementService_GetUserByUserId_InputMessage">
    <wsdl:part name="parameters" element="tns:GetUserByUserId" />
  </wsdl:message>
  <wsdl:message name="IUserManagementService_GetUserByUserId_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetUserByUserIdResponse" />
  </wsdl:message>
  <wsdl:message name="IUserManagementService_UpdateUser_InputMessage">
    <wsdl:part name="parameters" element="tns:UpdateUser" />
  </wsdl:message>
  <wsdl:message name="IUserManagementService_UpdateUser_OutputMessage">
    <wsdl:part name="parameters" element="tns:UpdateUserResponse" />
  </wsdl:message>
  <wsdl:message name="IUserManagementService_DeleteCGUser_InputMessage">
    <wsdl:part name="parameters" element="tns:DeleteCGUser" />
  </wsdl:message>
  <wsdl:message name="IUserManagementService_DeleteCGUser_OutputMessage">
    <wsdl:part name="parameters" element="tns:DeleteCGUserResponse" />
  </wsdl:message>
  <wsdl:message name="IUserManagementService_GetAll_InputMessage">
    <wsdl:part name="parameters" element="tns:GetAll" />
  </wsdl:message>
  <wsdl:message name="IUserManagementService_GetAll_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetAllResponse" />
  </wsdl:message>
  <wsdl:portType name="IUserManagementService">
    <wsdl:operation name="CreateUser">
      <wsdl:input wsaw:Action="http://tempuri.org/IUserManagementService/CreateUser" message="tns:IUserManagementService_CreateUser_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IUserManagementService/CreateUserResponse" message="tns:IUserManagementService_CreateUser_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetUserByUserId">
      <wsdl:input wsaw:Action="http://tempuri.org/IUserManagementService/GetUserByUserId" message="tns:IUserManagementService_GetUserByUserId_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IUserManagementService/GetUserByUserIdResponse" message="tns:IUserManagementService_GetUserByUserId_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="UpdateUser">
      <wsdl:input wsaw:Action="http://tempuri.org/IUserManagementService/UpdateUser" message="tns:IUserManagementService_UpdateUser_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IUserManagementService/UpdateUserResponse" message="tns:IUserManagementService_UpdateUser_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="DeleteCGUser">
      <wsdl:input wsaw:Action="http://tempuri.org/IUserManagementService/DeleteCGUser" message="tns:IUserManagementService_DeleteCGUser_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IUserManagementService/DeleteCGUserResponse" message="tns:IUserManagementService_DeleteCGUser_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetAll">
      <wsdl:input wsaw:Action="http://tempuri.org/IUserManagementService/GetAll" message="tns:IUserManagementService_GetAll_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IUserManagementService/GetAllResponse" message="tns:IUserManagementService_GetAll_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IUserManagementService" type="tns:IUserManagementService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="CreateUser">
      <soap:operation soapAction="http://tempuri.org/IUserManagementService/CreateUser" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetUserByUserId">
      <soap:operation soapAction="http://tempuri.org/IUserManagementService/GetUserByUserId" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateUser">
      <soap:operation soapAction="http://tempuri.org/IUserManagementService/UpdateUser" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteCGUser">
      <soap:operation soapAction="http://tempuri.org/IUserManagementService/DeleteCGUser" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAll">
      <soap:operation soapAction="http://tempuri.org/IUserManagementService/GetAll" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="UserManagement">
    <wsdl:port name="BasicHttpBinding_IUserManagementService" binding="tns:BasicHttpBinding_IUserManagementService">
      <soap:address location="http://localhost:8734/Design_Time_Addresses/UserManagementService/UserManagement/" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>