MultiplayerCardGame/DesktopGameClient/Connected Services/GameTableServiceReference/service.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="GameTableManagement" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import namespace="http://tempuri.org/" />
      <xsd:import namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import namespace="http://schemas.datacontract.org/2004/07/Server.DataContracts.DataContracts" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IGameTableManagementService_CreateGameTable_InputMessage">
    <wsdl:part name="parameters" element="tns:CreateGameTable" />
  </wsdl:message>
  <wsdl:message name="IGameTableManagementService_CreateGameTable_OutputMessage">
    <wsdl:part name="parameters" element="tns:CreateGameTableResponse" />
  </wsdl:message>
  <wsdl:message name="IGameTableManagementService_DeleteGameTable_InputMessage">
    <wsdl:part name="parameters" element="tns:DeleteGameTable" />
  </wsdl:message>
  <wsdl:message name="IGameTableManagementService_DeleteGameTable_OutputMessage">
    <wsdl:part name="parameters" element="tns:DeleteGameTableResponse" />
  </wsdl:message>
  <wsdl:message name="IGameTableManagementService_GetGameTableById_InputMessage">
    <wsdl:part name="parameters" element="tns:GetGameTableById" />
  </wsdl:message>
  <wsdl:message name="IGameTableManagementService_GetGameTableById_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetGameTableByIdResponse" />
  </wsdl:message>
  <wsdl:message name="IGameTableManagementService_GetAll_InputMessage">
    <wsdl:part name="parameters" element="tns:GetAll" />
  </wsdl:message>
  <wsdl:message name="IGameTableManagementService_GetAll_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetAllResponse" />
  </wsdl:message>
  <wsdl:message name="IGameTableManagementService_GetGameTableByTableName_InputMessage">
    <wsdl:part name="parameters" element="tns:GetGameTableByTableName" />
  </wsdl:message>
  <wsdl:message name="IGameTableManagementService_GetGameTableByTableName_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetGameTableByTableNameResponse" />
  </wsdl:message>
  <wsdl:message name="IGameTableManagementService_JoinGameTable_InputMessage">
    <wsdl:part name="parameters" element="tns:JoinGameTable" />
  </wsdl:message>
  <wsdl:message name="IGameTableManagementService_JoinGameTable_OutputMessage">
    <wsdl:part name="parameters" element="tns:JoinGameTableResponse" />
  </wsdl:message>
  <wsdl:message name="IGameTableManagementService_UpdateGameTableSeats_InputMessage">
    <wsdl:part name="parameters" element="tns:UpdateGameTableSeats" />
  </wsdl:message>
  <wsdl:message name="IGameTableManagementService_UpdateGameTableSeats_OutputMessage">
    <wsdl:part name="parameters" element="tns:UpdateGameTableSeatsResponse" />
  </wsdl:message>
  <wsdl:portType name="IGameTableManagementService">
    <wsdl:operation name="CreateGameTable">
      <wsdl:input wsaw:Action="http://tempuri.org/IGameTableManagementService/CreateGameTable" message="tns:IGameTableManagementService_CreateGameTable_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IGameTableManagementService/CreateGameTableResponse" message="tns:IGameTableManagementService_CreateGameTable_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="DeleteGameTable">
      <wsdl:input wsaw:Action="http://tempuri.org/IGameTableManagementService/DeleteGameTable" message="tns:IGameTableManagementService_DeleteGameTable_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IGameTableManagementService/DeleteGameTableResponse" message="tns:IGameTableManagementService_DeleteGameTable_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetGameTableById">
      <wsdl:input wsaw:Action="http://tempuri.org/IGameTableManagementService/GetGameTableById" message="tns:IGameTableManagementService_GetGameTableById_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IGameTableManagementService/GetGameTableByIdResponse" message="tns:IGameTableManagementService_GetGameTableById_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetAll">
      <wsdl:input wsaw:Action="http://tempuri.org/IGameTableManagementService/GetAll" message="tns:IGameTableManagementService_GetAll_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IGameTableManagementService/GetAllResponse" message="tns:IGameTableManagementService_GetAll_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetGameTableByTableName">
      <wsdl:input wsaw:Action="http://tempuri.org/IGameTableManagementService/GetGameTableByTableName" message="tns:IGameTableManagementService_GetGameTableByTableName_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IGameTableManagementService/GetGameTableByTableNameResponse" message="tns:IGameTableManagementService_GetGameTableByTableName_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="JoinGameTable">
      <wsdl:input wsaw:Action="http://tempuri.org/IGameTableManagementService/JoinGameTable" message="tns:IGameTableManagementService_JoinGameTable_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IGameTableManagementService/JoinGameTableResponse" message="tns:IGameTableManagementService_JoinGameTable_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="UpdateGameTableSeats">
      <wsdl:input wsaw:Action="http://tempuri.org/IGameTableManagementService/UpdateGameTableSeats" message="tns:IGameTableManagementService_UpdateGameTableSeats_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IGameTableManagementService/UpdateGameTableSeatsResponse" message="tns:IGameTableManagementService_UpdateGameTableSeats_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IGameTableManagementService" type="tns:IGameTableManagementService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="CreateGameTable">
      <soap:operation soapAction="http://tempuri.org/IGameTableManagementService/CreateGameTable" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteGameTable">
      <soap:operation soapAction="http://tempuri.org/IGameTableManagementService/DeleteGameTable" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetGameTableById">
      <soap:operation soapAction="http://tempuri.org/IGameTableManagementService/GetGameTableById" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAll">
      <soap:operation soapAction="http://tempuri.org/IGameTableManagementService/GetAll" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetGameTableByTableName">
      <soap:operation soapAction="http://tempuri.org/IGameTableManagementService/GetGameTableByTableName" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="JoinGameTable">
      <soap:operation soapAction="http://tempuri.org/IGameTableManagementService/JoinGameTable" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateGameTableSeats">
      <soap:operation soapAction="http://tempuri.org/IGameTableManagementService/UpdateGameTableSeats" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="GameTableManagement">
    <wsdl:port name="BasicHttpBinding_IGameTableManagementService" binding="tns:BasicHttpBinding_IGameTableManagementService">
      <soap:address location="http://localhost:8734/Design_Time_Addresses/GameTableManagementService/GameTableManagement/" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>